html {
    font-size: 20px;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 60px;
}

.script {
    font-size: 35px;
    width: 450px;
    padding:10px 40px;
    border-radius: 20px;
    text-align: center;
    color: #00ffff;
    background-color: #ffe2f8;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    transition-duration: 0.5s;
}

.script:hover {
    font-size: 40px;
    transition-duration: 0.5s;
}