html {
    font-size: 20px;
    background-color: #eff1f5;
    color: #4c4f69;
    display: flex;
    justify-content: center;
    font-family:Arial, Helvetica, serif;
    margin-top: 1.5em;
}

b {
    color: #1e66f5;
}

a {
    text-decoration: none;
}

li {
    padding-bottom: 5px;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 550px;
    /* row-gap: 10px; */
}

.script {
    font-size: 25px;
    width: 400px;
    padding:15px 35px;
    border-radius: 10px;
    text-align: center;
    color: #ea76cb;
    
    color: #4c4f69;
    background-color: #ea76cb;
    /* border-style: solid; */
    transition-duration: 0.3s;
}

.script:hover {
    /* background-color: #ea76cb; */
    width: 450px;
}